<div class="modal fade" id="modal-info-sample" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><%= t('samples.modal_info.title', sample: @sample.name) %></h4>
      </div>

      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12 col-sm-4" id="search-menu">
            <ul class="nav nav-pills nav-stacked nav-stacked-arrow">
              <li role="presentation"
                class="
                <%= "active" if @search_category.present? and @search_category == :projects %>
                <%= "disabled" if @project_search_count == 0 %>"
              >
                <a href="#"
                   data-href="<%= sample_url(@sample, category: 'projects', q: @search_query, utf8: '✓') %>"
                   data-searchCategory="<%= ( @project_search_count > 0 ) ? 'present' : 'notPresent' %>">
                  <span class="badge pull-right"><%= @project_search_count %></span>
                  <span class="glyphicon glyphicon-blackboard"></span>
                  <%= t'Projects' %>
                </a>
              </li>
              <li role="presentation"
                class="
                <%= "active" if @search_category.present? and @search_category == :experiments %>
                <%= "disabled" if @experiment_search_count == 0 %>"
              >
                <a href="#"
                   data-href="<%= sample_url(@sample, category: 'experiments', q: @search_query, utf8: '✓/') %>"
                   data-searchCategory="<%= ( @experiment_search_count > 0 ) ? 'present' : 'notPresent' %>">
                  <span class="badge pull-right"><%= @experiment_search_count %></span>
                  <%= fa_icon 'flask' %>
                  <%= t'Experiments' %>
                </a>
              </li>
              <li role="presentation"
                class="
                <%= "active" if @search_category.present? and @search_category == :workflows %>
                <%= "disabled" if @workflow_search_count == 0 %>"
              >
                <a href="#"
                   data-href="<%= sample_url(@sample, category: 'workflows', q: @search_query, utf8: '✓') %>"
                   data-searchCategory="<%= ( @workflow_search_count > 0 ) ? 'present' : 'notPresent' %>">
                  <span class="badge pull-right"><%= @workflow_search_count %></span>
                  <span class="glyphicon glyphicon-random"></span>
                  <%= t'Workflows' %>
                </a>
              </li>
              <li role="presentation"
                class="
                <%= "active" if @search_category.present? and @search_category == :modules %>
                <%= "disabled" if @module_search_count == 0 %>"
              >
                <a href="#"
                   data-href="<%= sample_url(@sample, category: 'modules', q: @search_query, utf8: '✓') %>"
                   data-searchCategory="<%= ( @module_search_count > 0 ) ? 'present' : 'notPresent' %>">
                  <span class="badge pull-right"><%= @module_search_count %></span>
                  <span class="glyphicon glyphicon-credit-card"></span>
                  <%= t'Modules' %>
                </a>
              </li>
              <li role="presentation"
                class="
                <%= "active" if @search_category.present? and @search_category == :results %>
                <%= "disabled" if @result_search_count == 0 %>"
              >
                <a href="#"
                   data-href="<%= sample_url(@sample, category: 'results', q: @search_query, utf8: '✓') %>"
                   data-searchCategory="<%= ( @result_search_count > 0 ) ? 'present' : 'notPresent' %>">
                  <span class="badge pull-right"><%= @result_search_count %></span>
                  <span class="glyphicon glyphicon-modal-window"></span>
                  <%= t'Results' %>
                </a>
              </li>
              <li role="presentation"
                class="
                <%= "active" if @search_category.present? and @search_category == :tags %>
                <%= "disabled" if @tag_search_count == 0 %>"
              >
                <a href="#"
                   data-href="<%= sample_url(@sample, category: 'tags', q: @search_query, utf8: '✓') %>"
                   data-searchCategory="<%= ( @tag_search_count > 0 ) ? 'present' : 'notPresent' %>">
                  <span class="badge pull-right"><%= @tag_search_count %></span>
                  <span class="glyphicon glyphicon-tags"></span>
                  <%= t'Tags' %>
                </a>
              </li>
              <li role="presentation"
                class="
                <%= "active" if @search_category.present? and @search_category == :reports %>
                <%= "disabled" if @report_search_count == 0 %>"
              >
                <a href="#"
                   data-href="<%= sample_url(@sample, category: 'reports', q: @search_query, utf8: '✓') %>"
                   data-searchCategory="<%= ( @report_search_count > 0 ) ? 'present' : 'notPresent' %>">
                  <span class="badge pull-right"><%= @report_search_count %></span>
                  <span class="glyphicon glyphicon-align-left"></span>
                  <%= t'Reports' %>
                </a>
              </li>
              <li role="presentation"
                class="
                <%= "active" if @search_category.present? and @search_category == :protocols %>
                <%= "disabled" if @protocol_search_count == 0 %>"
              >
                <a href="#"
                   data-href="<%= sample_url(@sample, category: 'protocols', q: @search_query, utf8: '✓') %>"
                   data-searchCategory="<%= ( @protocol_search_count > 0 ) ? 'present' : 'notPresent' %>">
                  <span class="badge pull-right"><%= @protocol_search_count %></span>
                  <span class="glyphicon glyphicon-list-alt"></span>
                  <%= t'Protocols' %>
                </a>
              </li>
              <li role="presentation"
                class="
                <%= "active" if @search_category.present? and @search_category == :steps %>
                <%= "disabled" if @step_search_count == 0 %>"
              >
                <a href="#"
                   data-href="<%= sample_url(@sample, category: 'steps', q: @search_query, utf8: '✓') %>"
                   data-searchCategory="<%= ( @step_search_count > 0 ) ? 'present' : 'notPresent' %>">
                  <span class="badge pull-right"><%= @step_search_count %></span>
                  <span class="glyphicon glyphicon-circle-arrow-right"></span>
                  <%= t'Steps' %>
                </a>
              </li>
              <li role="presentation"
                class="
                <%= "active" if @search_category.present? and @search_category == :checklists %>
                <%= "disabled" if @checklist_search_count == 0 %>"
              >
                <a href="#"
                   data-href="<%= sample_url(@sample, category: 'checklists', q: @search_query, utf8: '✓') %>"
                   data-searchCategory="<%= ( @checklist_search_count > 0 ) ? 'present' : 'notPresent' %>">
                  <span class="badge pull-right"><%= @checklist_search_count %></span>
                  <span class="glyphicon glyphicon-list"></span>
                  <%= t'Checklists' %>
                </a>
              </li>
              <li role="presentation"
                class="
                <%= "active" if @search_category.present? and @search_category == :assets %>
                <%= "disabled" if @asset_search_count == 0 %>"
              >
                <a href="#"
                   data-href="<%= sample_url(@sample, category: 'assets', q: @search_query, utf8: '✓') %>"
                   data-searchCategory="<%= ( @asset_search_count > 0 ) ? 'present' : 'notPresent' %>">
                  <span class="badge pull-right"><%= @asset_search_count %></span>
                  <span class="glyphicon glyphicon-file"></span>
                  <%= t'Assets' %>
                </a>
              </li>
              <li role="presentation"
                class="
                <%= "active" if @search_category.present? and @search_category == :tables %>
                <%= "disabled" if @table_search_count == 0 %>"
              >
                <a href="#"
                   data-href="<%= sample_url(@sample, category: 'tables', q: @search_query, utf8: '✓') %>"
                   data-searchCategory="<%= ( @table_search_count > 0 ) ? 'present' : 'notPresent' %>">
                  <span class="badge pull-right"><%= @table_search_count %></span>
                  <span class="glyphicon glyphicon-th"></span>
                  <%= t'Tables' %>
                </a>
              </li>
              <li role="presentation"
                class="
                <%= "active" if @search_category.present? and @search_category == :comments %>
                <%= "disabled" if @comment_search_count == 0 %>"
              >
                <a href="#"
                   data-href="<%= sample_url(@sample, category: 'comments', q: @search_query, utf8: '✓') %>"
                   data-searchCategory="<%= ( @comment_search_count > 0 ) ? 'present' : 'notPresent' %>">
                  <span class="badge pull-right"><%= @comment_search_count %></span>
                  <span class="glyphicon glyphicon-comment"></span>
                  <%= t'Comments' %>
                </a>
              </li>
              
            </ul>
          </div>

          <div class="col-xs-12 col-sm-8" id="search-content-module">
            <hr class="visible-xs">
            <div class="container-fluid" id="search-container-module">
            <% if @search_results_count == 0 %>
            <p><%= t'search.index.error.no_results', q: @search_query %></p>
            <% end %>
            </div>
          </div>

        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal"><%= t("general.close")%></button>
      </div>
    </div>
  </div>
</div>
